.example-spacer {
    flex: 1 1 auto;
}

#toolbar {
    background-color: #583435;
}

button, span {
    border: none;
    background-color: transparent;
    color: white;
}

.graf{
  display: inline-block;
  justify-items: space-between;
  width: 30rem;
  height: 20rem;
}
