.canvas{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.graf{
    justify-items: space-between;
    width: 30rem;
    height: 20rem;
    text-align: center;
    width: 22rem;
}
.line{
    justify-items: center;
    width: 50rem;
    text-align: center;
}
.send{
  margin-left: 2rem;
  background-color: #583435;
}

h1{
  color: #583435;
}
.mat-input-element {
  caret-color: #583435 !important;
}

.botao {
    border: none;
    background-color: transparent;
    color: black;
}

.botao:hover {
  border: none;
  background-color: transparent;
  color: #583435;
}
.pesquisa{
  margin-top: 2rem;
  display: block;
  text-align: center;
}
